<%- include("header") -%>
    <h1>About us</h1>
    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quisquam exercitationem ducimus perferendis neque ad
        fugiat, fuga eaque. Asperiores sequi corporis libero repellendus porro, debitis architecto eum veniam recusandae
        illum quasi?</p>
    <%- include("footer") -%>